﻿@page
@model HotelApp.Web.Pages.BookRoomModel
@{
    ViewData["Title"] = "Book Room";
}
<h1>@ViewData["Title"]</h1>
<p>
    From <strong>@Model.StartDate.ToShortDateString()</strong> 
    To <strong>@Model.EndDate.ToShortDateString()</strong>
</p>

<h3>@Model.RoomType.Name</h3>
<p>@Model.RoomType.Description</p>

<form method="post">
    <label asp-for="@Model.FirstName">First Name</label>
    <input class="form-control" type="text" asp-for="@Model.FirstName" required />
    <label asp-for="@Model.LastName">Last Name</label>
    <input class="form-control" type="text" asp-for="@Model.LastName" required/>
    <button type="submit" class="btn btn-primary">Book Now</button>
</form>