﻿@page
@model HotelApp.Web.Pages.RoomSearchModel
@{
    ViewData["Title"] = "Room Search";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <label asp-for="@Model.StartDate">Start Date</label>
    <input type="date" asp-for="@Model.StartDate" />
    <label asp-for="@Model.EndDate">End Date</label>
    <input type="date" asp-for="@Model.EndDate" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model.AvailableRoomTypes?.Count > 0)
{
    <div>
        <h2>Results</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var roomType in Model.AvailableRoomTypes)
                {
                    <tr>
                        <td>
                            <strong>@roomType.Name</strong>
                            @roomType.Description
                        </td>
                        <td>@string.Format("{0:C}", roomType.Price)</td>
                        <td>
                            <a asp-page="/BookRoom" 
                               asp-route-roomTypeId="@roomType.Id"
                               asp-route-startDate="@Model.StartDate.ToShortDateString()"
                               asp-route-endDate="@Model.EndDate.ToShortDateString()"
                               class="btn btn-success">Book Now</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}